<html>
<head>
	 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
  <link rel="stylesheet" href="styles.css">
<script>
function validarCelda(celda){
				//alert("Entra");
			  //celda.className="btn_PresionadoVacio";
			if (celda.value == "-1") {

				celda.className="btn_PresionadoBomba";
			}
			else if (celda.value == "0") {

				celda.className="btn_PresionadoVacio";
			}
		  else{
					celda.className="btn_PresionadoConValor";
					celda.innerHTML="<h3>"+ celda.value +"</h3>";
			}

 return false;
}	
</script>
	<style>
			.tablero{
				width: 416px;
				height: 416px;								
				border: 1px solid black;
				margin-left: 33%;
				margin-top: 120px;				
			}

			.btn_InicioJuego{
				width: 70px;
				height: 70px;
				border: 1px solid black;
				float: left;
				background-color: #673AB7;				
				font-size: 30;	
				text-align: center;
			}
			.btn_PresionadoVacio{
				width: 70px;
				height: 70px;
				border: 1px solid black;
				float: left;
				background-color: #FFFFFF;				
				font-size: 30;	
				text-align: center;
			}

			.btn_PresionadoConValor{
				width: 70px;
				height: 70px;
				border: 1px solid black;
				float: left;
				text-align: center;
			}
			.btn_PresionadoBomba{
				width: 70px;
				height: 70px;
				border: 1px solid black;
				float: left;
				background-color: #673AB7;
				background: url(../img/bomba.jpg) no-repeat;				
				font-size: 30;	
				text-align: center;
			}


		</style>
</head>
<title>No estalles</title>
	<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
		 <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>No Estalles</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="/" class="mdl-layout__tab is-active">Inicio</a>
        </div>
      </header>

<center>
<main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" id="overview">
<%= @resultado %>
			
					<table>
						<tr>
							<td>
								<button name="c1" value="1" class="btn_InicioJuego" onClick="validarCelda(this)">
								</button>
							</td>	
							<td>
								<button name="c2" value="1" class="btn_InicioJuego" onClick="validarCelda(this)">
								</button>
							</td>	
							<td>
								<button name="c3" value="0" class="btn_InicioJuego" onClick="validarCelda(this)">
								</button>
							</td>	
						</tr>	
						<tr>
							<td>
								<button name="c4" value="-1" class="btn_InicioJuego" onClick="validarCelda(this)">
								</button>
							</td>	
							<td>
								<button name="c5" value="3" class="btn_InicioJuego" onClick="validarCelda(this)">
								</button>
							</td>	
							<td>
								<button name="c6" value="1" class="btn_InicioJuego" onClick="validarCelda(this)">
								</button>
							</td>	
						</tr>	
						<tr>
							<td>
								<button name="c7" value="-1" class="btn_InicioJuego" onClick="validarCelda(this)">
								</button>
							</td>	
							<td>
									<button name="c8" value="-1" class="btn_InicioJuego" onClick="validarCelda(this)">
								</button>
							</td>	
							<td>
								<button name="c9" value="1" class="btn_InicioJuego" onClick="validarCelda(this)">
								</button>
							</td>	
						</tr>							
					</table>

		</div>
<br>
<br>
</main>
<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
      
    </div>
    <div class="mdl-mega-footer--bottom-section">
     
    </div>
</footer>
</center>
</body>
</html>
